In [1]:
# Miky Asmare, Soliyana Yohannes, Nathan Ressom


from sqlite3.dbapi2 import Connection
import sqlite3
conn = sqlite3.connect("superhero_db.sqlite")
cursor = conn.cursor()
print("Database created and connected.")

Database created and connected.

In [2]:
#heroes, villains, battles, and sidekicks
print("Cursor created!")
cursor.execute('''
CREATE TABLE IF NOT EXISTS heroes (
  HeroID INTEGER PRIMARY KEY AUTOINCREMENT,
  Name TEXT NOT NULL,
  Power TEXT NOT NULL,
  Team TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS villains(
  VillainID INTEGER PRIMARY KEY AUTOINCREMENT,
  Name TEXT NOT NULL,
  EvilPlan TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles(
  BattleID INTEGER PRIMARY KEY AUTOINCREMENT,
  HeroID INTEGER,
  VillainID INTEGER,
  Outcome TEXT NOT NULL CHECK(Outcome IN ('Hero Win','Villain Wins','Draw')),
  FOREIGN KEY (HeroID) REFERENCES heroes(HeroesID),
  FOREIGN KEY (VillainID) REFERENCES villains(VillainsID)
);
''')
cursor.execute('''
CREATE TABLE IF NOT EXISTS sidekicks (
  SidekickID INTEGER PRIMARY KEY AUTOINCREMENT,
  HeroID INTEGER,
  SidekickName TEXT NOT NULL,
  FOREIGN KEY (HeroID) REFERENCES heroes(HeroID)
);
''')
print("Tables created successfully.")

Cursor created!
Tables created successfully.

In [3]:
# inserting data for heroes, villains, and sidekicks
heroes_data = [
   ("Spider-Man", "Super Strength", "Justice League"),
   ("Iron Man", "Martial Arts", "Justice League"),
   ("Batman", "Martial Arts", "Justice League"),
   ("Superman", "Super Strength", "Justice League"),
   ("Thor", "Thunder God", "Avengers"),
   ("Wonder Woman", "Amazonian Strength", "Justice League"),
   ("Black Panther", "Enhanced Agility", "Justice League"),
   ("The Flash", "Super Speed", "Justice League"),
   ("Hulk", "Super Strength", "Avengers"),
   ("Doctor Strange", "Mystic Arts", "Avengers")
]
cursor.executemany("INSERT INTO heroes (Name, Power, Team) VALUES (?, ?, ?);", heroes_data)
print("Heroes inserted successfully")

villains_data = [
    ("Green Goblin", "Terrorize New York"),
    ("Thanos", "Collect all Infinity Stones"),
    ("Joker", "Spread chaos in Gotham"),
    ("Lex Luthor", "Defeat Superman"),
    ("Loki", "Trick humanity into worshipping him"),
    ("Ultron", "AI world domination"),
    ("Darkseid", "Control the universe"),
    ("Venom", "Consume Spider-Man"),
    ("Magneto", "Mutant supremacy"),
    ("Red Skull", "Revive Hydra")
]
cursor.executemany("INSERT INTO villains (Name, EvilPlan) VALUES (?,?);", villains_data)
print("Villains inserted successfully")
conn.commit()

sidekicks_data = [
    (1, "Robin"),
    (3, "Alfred"),
    (5, "Bucky Barnes"),
    (7, "War Machine"),
    (9, "Falcon")
]
cursor.executemany("INSERT INTO sidekicks (HeroId, SideKickName) VALUES (?,?);", sidekicks_data)
conn.commit()

Heroes inserted successfully
Villains inserted successfully

In [4]:
#inserting data from battles
battles_data = [
    (1, 10, "Villain Wins"),
    (9, 3, "Hero Win"),
    (8, 1, "Draw"),
    (5, 4, "Villain Wins"),
    (1, 7, "Hero Win"),
    (2, 8, "Villain Wins"),
    (9, 8, "Hero Win"),
    (3, 2, "Hero Win"),
    (7, 5, "Hero Win"),
    (3, 1, "Draw"),
    (1, 8, "Villain Wins"),
    (2, 1, "Draw"),
    (8, 9, "Hero Win"),
    (8, 1, "Draw"),
    (6, 10, "Draw"),
    (1, 1, "Villain Wins"),
    (8, 3, "Draw"),
    (6, 3, "Villain Wins"),
    (4, 8, "Villain Wins"),
    (3, 4, "Hero Win"),
    (8, 1, "Draw"),
    (4, 9, "Draw"),
    (3, 9, "Draw"),
    (8, 9, "Villain Wins"),
    (2, 5, "Draw"),
    (3, 7, "Draw"),
    (10, 3, "Draw"),
    (3, 8, "Draw"),
    (3, 5, "Hero Win"),
    (5, 5, "Hero Win")
 ]
cursor.executemany('''
    INSERT INTO battles (HeroID, VillainID, Outcome)
    VALUES (?, ?, ?);
''', battles_data)
conn.commit()
print("Inserted battles data successfully.")

Inserted battles data successfully.

In [5]:
# Queries
cursor.execute("SELECT Name, Power FROM heroes;"),
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.execute("SELECT * FROM battles WHERE Outcome = 'Hero Win';"),
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.execute("SELECT Name, EvilPlan FROM villains;"),
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.execute("""
      SELECT h.Name, COUNT(b.BattleID) AS BattleCount
      FROM battles b
      JOIN heroes h ON b.HeroID = h.HeroID
      GROUP BY h.Name
      ORDER BY BattleCount DESC;
""")
rows = cursor.fetchall()
for row in rows:
    print(row)
#Superheros without sidekicks
cursor.execute("""
      SELECT Name
      FROM heroes
      WHERE HeroID NOT IN (SELECT HeroID FROM sidekicks);
""")
rows = cursor.fetchall()
print ("Superheros without sidekicks:")
for row in rows:
  print(row)

('Spider-Man', 'Super Strength')
('Iron Man', 'Martial Arts')
('Batman', 'Martial Arts')
('Superman', 'Super Strength')
('Thor', 'Thunder God')
('Wonder Woman', 'Amazonian Strength')
('Black Panther', 'Enhanced Agility')
('The Flash', 'Super Speed')
('Hulk', 'Super Strength')
('Doctor Strange', 'Mystic Arts')
(2, 9, 3, 'Hero Win')
(5, 1, 7, 'Hero Win')
(7, 9, 8, 'Hero Win')
(8, 3, 2, 'Hero Win')
(9, 7, 5, 'Hero Win')
(13, 8, 9, 'Hero Win')
(20, 3, 4, 'Hero Win')
(29, 3, 5, 'Hero Win')
(30, 5, 5, 'Hero Win')
('Green Goblin', 'Terrorize New York')
('Thanos', 'Collect all Infinity Stones')
('Joker', 'Spread chaos in Gotham')
('Lex Luthor', 'Defeat Superman')
('Loki', 'Trick humanity into worshipping him')
('Ultron', 'AI world domination')
('Darkseid', 'Control the universe')
('Venom', 'Consume Spider-Man')
('Magneto', 'Mutant supremacy')
('Red Skull', 'Revive Hydra')
('Batman', 7)
('The Flash', 6)
('Spider-Man', 4)
('Iron Man', 3)
('Wonder Woman', 2)
('Thor', 2)
('Superman', 2)
('Hulk', 2)
('Doctor Strange', 1)
('Black Panther', 1)
Superheros without sidekicks:
('Iron Man',)
('Superman',)
('Wonder Woman',)
('The Flash',)
('Doctor Strange',)